[submodule "external/Topos"]
	path = external/Topos
	url = https://github.com/Minu476/Topos.git

[submodule "formal-conjectures"]
	path = formal-conjectures
	url = https://github.com/Minu476/formal-conjectures.git

[submodule "zeta-23-lean"]
	path = zeta-23-lean
	url = https://github.com/anthropics/zeta-23-lean.git
